Dashboard
<br>Put something here so that if session is nil, an error message shows up
<!-- no permission test photo = 15387008027 -->
<br>

<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
<% end %>

<br>

<!-- middle column that is 8-columns wide with three columns within -->

<div class = "container">
  <div class = "row show-grid">
    <div class = "col-md-2">
    </div>
    <div class = "col-md-8">

        <% if session[:user_id] %>
          <% i = 3 %>
          <% photo_hash = Flickr.get_photos(current_user.fid) %>
          <% last = photo_hash.last %>
         
 
          <% photo_hash.each do |hash_element| %>
            <% if i>3 && i%3 == 0 %>
              </div>
            <% end %>
            <% if i%3 == 0 %>
              <div class="row show-grid">
            <% end %>

            <div class="col-md-3">
              <%= image_tag hash_element[:large_square], class: "photo" %>
              <% if !Photo.exists?(fid: hash_element[:id]) %>
                <%= button_to "Submit", root_path, {class: 'btn btn-default submit-photo', :info => hash_element.to_json  } %>
              <% else %>
                <div class = 'btn btn-default submitted'>
                  Submitted!
                </div>
              <% end %>
            </div>
            
            <% if hash_element == last && i%3 !=0%>
              </div>
            <% end %>
            <% i += 1%>
          <% end %>
        <% end %>

    </div>

    <div class = "col-md-2">
    </div>

  </div>
</div>

