<div class = "container learn-container">
  <div class = "row show-grid top-learn">
    <div class = "col-md-12 col-xs-12 bug-box">
      <%= image_tag "bug.png", :class => "bug"%>
    </div>
  </div>
  <div class = "row show-grid top-learn error-row">
    <div class = "col-md-3"></div>
    <div class = "col-md-6 col-xs-12 error-text">
      Oops! Flickr is not playing nice with OAuth. This is a random bug that I'm working hard to fix. Please try logging in again at a later time.
    </div>
    <div class = "col-md-3"></div>
  </div>
</div>
