<div class = "container">
  <div class = "photo-home-container outer-form-and-photo">
    <ul>
      <li>Login with Flickr</li>
      <li>Submit your photos for review</li>
      <li>Critique other photos</li>
      <li>View stats on your photos</li>
      <li>View stats on you</li>
      <li>Change the way you shoot</li>
    </ul>
  </div>
</div>
