<div class = "col-md-12 home-header">CHANGE THE WAY YOU TAKE PHOTOS</div>
<div class = "col-md-12 orange-div">
    <div class = "col-md-4 col-xs-12">
      <%= image_tag "critique_grab.png"%>
      <div class = "col-md-12 orange-phrase">SUBMIT PHOTOS</div>
    </div>
    <div class = "col-md-4 col-xs-12">
      <%= image_tag "form_grab.png"%>
      <div class = "col-md-12 orange-phrase">GIVE CRITIQUES</div>
    </div>
    <div class = "col-md-4 col-xs-12">
      <%= image_tag "profile_grab.png"%>
      <div class = "col-md-12 orange-phrase">GET STATISTICS</div>
    </div>
</div>
<div class = "col-md-12 comm-div">
  BUILD A COMMUNITY OF DSLR PHOTOGRAPHERS
</div>

