<div class = "learn-container">
  <div class = "col-md-12 col-xs-12 learn-header top-learn">
    APERTURE
  </div>  
  <div class = "row show-grid">
    <div class = "col-md-2 col-xs-12"></div>
    <div class = "col-md-8 col-xs-12 learn-text">
    This is is how wide your lens opens up when you take a picture. A wide aperture 
    (smaller numbers) lets in lots of light. The area in focus will be sharper. And 
    the background will be blurrier. But, more of your photo will be out of focus.
    Narrower apertures bring more into focus, but what's in focus is less sharp. 
    </div>
    <div class = "col-md-2 col-xs-12"></div>
  </div>

  <div class = "col-md-12 col-xs-12 learn-header top-marg">
    SHUTTER SPEED
  </div>  
  <div class = "row show-grid">
    <div class = "col-md-2 col-xs-12"></div>
    <div class = "col-md-8 col-xs-12 learn-text">
    Think of shutter like a curtain. When the curtain opens, your the camera's sensor is
    fully exposed. Your image comes through the lens in the form of light. Then the curtain
    closes and your picture has been taken. Shutter is given in fractions. The smaller the number
    on the bottom is, the longer your shutter is open. The bigger the number on the bottom
    is, the less time your shutter is open. A longer shutter speed brings in more light. 
    But, your photo is more likely to be blurry if there is motion. 
    </div>  
    <div class = "col-md-2 col-xs-12"></div>
  </div>

  <div class = "col-md-12 col-xs-12 learn-header top-marg">
    ISO
  </div>  
  <div class = "row show-grid">
    <div class = "col-md-2 col-xs-12"></div>
    <div class = "col-md-8 col-xs-12 learn-text">
    This is how sensitive to light your camera is. The higher the number, the more 
    sensitive. This can be good for low light situations. Increasing the ISO can give you
    a sharper picture. But, if it's too high your picture will look grainy.
    </div>  
    <div class = "col-md-2 col-xs-12"></div>
  </div>
</div>
