<div class= "container">
  <div class = "photo-home-container">
    <div class="row show-grid outer-form-and-photo">
      <div class="col-md-12">
        <%= image_tag @photo.medium_800 %>
      </div>

      <div class="col-md-12">
        <% if get_critiques(@photo).size < 0 %>
          This photo has no critiques!
        <% else %>
          <% get_critiques(@photo).each do %>
          
        <% end %> 
      </div>
    </div>
  </div>
</div>
