.pre-critique-box {
  display: inline-block
}

.critique-button {
  margin: 15px;
}

.whole-form {
  border-top: 1.5px dotted #e6e6e6;
  border-right: 1.5px dotted #e6e6e6;
  border-bottom: 1.5px dotted #e6e6e6;
  padding-top: 10px;
  
  /*border-style: solid;
  border-color: #e6e6e6;
  border-width: 1.5px;
}
