.pre-critique-box {
  display: inline-block
}

.critique-button {
  margin: 15px;
}

.whole-form {
  border-top: 1.5px dotted #e6e6e6;
  border-right: 1.5px dotted #e6e6e6;
  border-bottom: 1.5px dotted #e6e6e6;
  padding-top: 15px;
}

@media screen and  (max-width: 768px){
  .whole-form {
  border: none;
  border-bottom: 1.5px dotted #e6e6e6;
  padding-top: 15px;
  }
}

.sugg-list {
  margin-bottom: 20px;
}  

.slider-title-bar {
  margin-bottom: 5px;
  margin-top: 3px;
}

.slider-hint {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 3px;
}

.critique-prompt {
  margin-top: 6px;
  margin-bottom: 8px;
}

.submit-critique {
  margin-bottom: 15px;
} 
