.photo-home {
  width: 100%;
}

.camera-brand {
  max-height: 90px;
  padding: 15px;
  padding-right: 20px;
}
.outer-form-and-photo {
  padding-top: 50px;
}

.photo-home-container {
  text-align: center;
  width: inherit;
}

.temp-home input{
  width: 100px;
}

.whole-form-row {
  top: 25%;
  position: relative;
  display: inline-block;
}

.avatar {
  border-radius: 50%;
  padding: 0px;
  max-height: 48px;
}

.navbar-nav li a {
  line-height: 50px;
}

.navbar-brand {
  height: 80px !important;
}

.navbar a {
  color: white !important;
}

.navbar a:hover {
  color: #C0C0C0 !important;
}

.dropdown-menu li a{
  color: black !important;
  line-height: 26px !important;
}

/*don't chnage link colors in dropdown menu boxes*/
.drop-menu a:hover {
  color: black !important;
}
/*.whole-form {
  display: inline-block;
  vertical-align: middle;
  float: none;
}*/

/*.whole-form {
  display: table-cell;
  vertical-align: middle;
}
  
.outer-form {
  display: table;
  height: 100%;
  width: 100%;
}*/

.dots{
    width: 8px;
    height: 8px;
    background: #504A4B !important;
    /*border-radius: 5px;*/
    display: block;
    position: absolute;
    top: 2px;
    border-radius: 50%;
}

.ap-symbol {
  display: inline-block;
}

.ap-hint {
  display: inline-block;
}

.settings-img {
  max-height: 20px;
}

.settings-text {
  display: inline-block;
}

.dot-fixer {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.show-photo-stats {
  text-align: center;
}

.shutter_chart {
  width
