body {
  font-size: 16px;
}

.home-header {
  background-image: url("blue_landscape.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  font-family: 'Arial Narrow';
  font-weight: bold;
  font-size: 15vh;
  line-height: 13vh;
  /*font-size: 150px !important;
  line-height: 130px;*/
  padding-top: 140px;
  height: 500px;
  text-align: center;
}

/*@media screen and (max-width: 1200px) {
  .home-header {
    font-size: 120px !important;
    line-height: 100px;
  }
}

@media screen and (max-width: 900px) {
  .home-header {
    font-size: 120px !important;
    padding-top: 120px;
    line-height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .home-header {
    padding-top: 140px;
    font-size: 90px !important;
    line-height: 80px;
  }
}
@media screen and (max-width: 468px) {
  .home-header {
    padding-top: 120px;
    font-size: 80px !important;
    line-height: 70px;
  }
}
*/
.orange-div {
  background-color: #EFC94C !important;
  text-align: center;
  display: inline-block;
}

.orange-div img {
  background-color: #EFC94C;
  max-width: 70%;
  display: inline-block;
  padding-top: 50px;
}

.orange-phrase {
  color: white;
  font-family: 'Arial Narrow';
  font-weight: bold;
  font-size: 3vw; /* 60px !important;*/
  margin-top: 15px;
  margin-bottom: 25px;
}

@media screen and (max-width: 999px) {

.orange-phrase {
  color: white;
  font-family: 'Arial Narrow';
  font-weight: bold;
  font-size: 10vw; /* 60px !important;*/
  margin-top: 15px;
  margin-bottom: 25px;
  border-bottom: 1px white;
  border-bottom: 1.5px dotted #e6e6e6;  
}

}

.modal-header {
  text-align: center;
  font-size: 18px;
}

.btn {
  font-size: 16px;
}

.btn:hover {
  background-color: #45B29D; 
  color: white;
  border-color: #45B29D;
}
.photo-home {
  width: 100%;
}

.outer-form-and-photo {
  padding-top: 50px;
}

.profile-holder {
  text-align: center;
  padding-top: 50px;
}

.photo-home-container {
  text-align: center;
  width: inherit;
}

.whole-form-row {
  top: 25%;
  position: relative;
  display: inline-block;
}

.footer {
  background-color: #333;
}

.avatar {
  border-radius: 50%;
  padding: 0px;
  max-height: 48px;
}

.pagination li.active a {
  background-color: #333;
  border-color: #333;
  color: white;
}


.pagination li.active a:hover {
  background-color: #45B29D;
  border-color: #45B29D;
}

.pagination li a{
  color: #333;
}

.pagination li a:hover{
  color: #333;
}

.pagination-col {
  text-align: right;
}
/*navbar*/
.navbar-fixed-top {
  font-family: 'Montserrat', sans-serif;
}
.avatar-menu {
  border-radius: 50%;
  height: 40px;
}
.navbar-nav li a {
  line-height: 50px;
}

.navbar-nav li a:hover {
  color: #E27A3F !important;
}

.navbar-brand {
  height: 80px !important;
  font-size: 32px!important;
}

.navbar a {
  color: white !important;
}

.navbar a:hover {
  color: #C0C0C0 !important;
}

.dropdown-menu li a{
  color: black !important;
  line-height: 26px !important;
}


.camera-brand {
  height: 40px;
  vertical-align: center;
}

.camera-brand-img {
  width: 50px;
}

/*don't chnage link colors in dropdown menu boxes*/
.drop-menu a:hover {
  color: black !important;
}

@media screen and (max-width: 768px) {
  .camera-brand-img {
    margin: 0px;
    margin-left: 15px;
  }

  .photo-box img {
    width: 150px;
  }

  .navbar-brand-logo {
    padding: 0px !important;
    font-size: 26px !important;
    padding-top: 10px !important;
  }

  .dropdown-menu li a{
    color: white !important;
  }

  .dropdown-menu li a:hover {
    color: white !important;
  }
}

.navbar-nav {
  font-size: 20px;
}

.navbar-bottom {
  margin-bottom: 0px;
  margin-top: 15px;
  position: fixed;
}

.nav-lower {
  padding-top: 17px !important;
}

/* end navbar  */

.dots{
    width: 8px;
    height: 8px;
    background: #504A4B !important;
    /*border-radius: 5px;*/
    display: block;
    position: absolute;
    top: 3px;
    border-radius: 50%;
    border-color: black !important;
}

.ap-symbol {
  display: inline-block;
}

.ap-hint {
  display: inline-block;
}

.settings-img {
  max-height: 20px;
}

.settings-text {
  display: inline-block;
  padding-right: 10px;
}

.dot-fixer {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.show-photo-stats {
  text-align: center;
}

.cam-link {
  text-decoration: none;
  padding: 0px !important;
}


