body {
  font-size: 16px;
}

.btn {
  font-size: 16px;
}

.photo-home {
  width: 100%;
}

.outer-form-and-photo {
  padding-top: 50px;
}

.profile-holder {
  text-align: center;
  padding-top: 50px;
}

.photo-home-container {
  text-align: center;
  width: inherit;
}

.whole-form-row {
  top: 25%;
  position: relative;
  display: inline-block;
}

.footer {
  background-color: #333;
}

.avatar {
  border-radius: 50%;
  padding: 0px;
  max-height: 48px;
}

.pagination li.active a {
  background-color: #333;
  border-color: #333;
  color: white;
}


.pagination li.active a:hover {
  background-color: #45B29D;
  border-color: #45B29D;
}

.pagination li a{
  color: #333;
}

.pagination li a:hover{
  color: #333;
}

.pagination-col {
  text-align: right;
}
/*navbar*/
.navbar-fixed-top {
  font-family: 'Montserrat', sans-serif;
}
.avatar-menu {
  border-radius: 50%;
  height: 40px;
}
.navbar-nav li a {
  line-height: 50px;
}

.navbar-nav li a:hover {
  color: #45B29D !important;
}

.navbar-brand {
  height: 80px !important;
  font-size: 32px!important;
}

.navbar a {
  color: white !important;
}

.navbar a:hover {
  color: #C0C0C0 !important;
}

.dropdown-menu li a{
  color: black !important;
  line-height: 26px !important;
}


.camera-brand {
  height: 40px;
  vertical-align: center;
}

.camera-brand-img {
  width: 50px;
}

/*don't chnage link colors in dropdown menu boxes*/
.drop-menu a:hover {
  color: black !important;
}

@media screen and (max-width: 768px) {
  .camera-brand-img {
    margin: 0px;
    margin-left: 15px;
  }

  .navbar-brand-logo {
    padding: 0px !important;
    padding-top: 10px !important;
  }

  .dropdown-menu li a{
    color: white !important;
  }

  .dropdown-menu li a:hover {
    color: white !important;
  }
}

.navbar-nav {
  font-size: 20px;
}

.navbar-bottom {
  margin-bottom: 0px;
  margin-top: 15px;
  position: fixed;
}

.nav-lower {
  padding-top: 17px !important;
}

/* end navbar  */

.dots{
    width: 8px;
    height: 8px;
    background: #504A4B !important;
    /*border-radius: 5px;*/
    display: block;
    position: absolute;
    top: 2px;
    border-radius: 50%;
    border-color: black !important;
}

.ap-symbol {
  display: inline-block;
}

.ap-hint {
  display: inline-block;
}

.settings-img {
  max-height: 20px;
}

.settings-text {
  display: inline-block;
  padding-right: 10px;
}

.dot-fixer {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.show-photo-stats {
  text-align: center;
}

.cam-link {
  text-decoration: none;
  padding: 0px !important;
}


